* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  min-height: 75vh;
}

.bg-marvel {
  background-color: #a1473f;
}
.img-logo img {
  width: 150px;
}

.bg-marvel a {
  margin: 0;
  padding: 0;
  color: white;
}

.active-marvel {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid white;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  box-shadow: 4px 4px 9px 4px rgba(255, 255, 255, 0.5);
}

.carousel {
  height: 75vh;
}

.carousel img {
  height: 75vh;
  object-fit: cover;
  object-position: left;
}
